<% layout('/layouts/boilerplate')%>  
<div class="row">
    <h1 class="lead text-center">New Concert Venue</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/venues" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="venue[title]" required>
                <div class="valid-feedback">Correct input</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="venue[location]" required>
                <div class="valid-feedback">Correct input</div>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Select image(s).</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
              </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="venue[image]" required>
                <div class="valid-feedback">Correct input</div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Average payout per night</label>
                <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="number" class="form-control" placeholder="0.00" id="price" aria-label="price" aria-describedby="price-label" name="venue[price]" required>
                <div class="valid-feedback">Correct input</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="venue[description]" required></textarea>
                <div class="valid-feedback">Correct input</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add venue</button>
            </div>
        </form>
        <a href="/venues">All venues</a>
    </div>
</div>
